/* General settings */
html {
    width: 100%;
}

body {
    min-height: 100vh;
    max-width: 80%; 
    margin: 0 auto;
}

/* Navbar */
.container-fluid {
    width: 75%;
}

.navbar {
    --bs-bg-opacity: .50;

}

.nav-link {
    margin-left: 5px;
    transition: color 1s ease;
}

.nav-link:hover {
    border: solid 0.1px;
    color: white!important;
    border-color: #f24a00;
}

.nav-link.active {
    background-color: #f24a00!important;
}


.navbar.nav-expanded {
    background-color: rgb(0, 0, 0)!important;
}

/* Diaporama of Panorama */

/* Diapo control */
.carousel-control-prev, .carousel-control-next {
    z-index: 100;
    width: 5%;
}

/* Diapo not take 100% of the screen */
/* .panorama-slider2 {
    height: 90vh!important;
}

.panorama-slider2 * {
    max-height: 90vh!important;
}

.slotholder canvas {
    height: 100%!important;
} */

/* Diapo annotation text */

