/*//////////////////////////////////////////////////////
General settings
/////////////////////////////////////////////////////*/
html {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    margin: 0;

    color: white;
    background-color: rgb(0, 0, 0);
}

section {
    padding: 2rem 0;
    height: auto;
    width: 100%;
    background-color: rgba(43, 43, 43, 0.726);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23afafaf' fill-opacity='0.1'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

section:nth-child(even) {
    background-color: rgba(43, 43, 43, 0.075);    
}

/*//////////////////////////////////////////////////////
NavBar
/////////////////////////////////////////////////////*/

.container-fluid {
    width: 75%;
}

.navbar {
    --bs-bg-opacity: .95;
    box-shadow: 0 0 5px #f24a00;
}

.nav-link {
    margin-left: 5px;
    transition: color 1s ease;
}

.nav-link:hover {
    border: solid 0.1px;
    color: white!important;
    border-color: #f24a00;
}

.nav-link.active {
    background-color: #f24a00!important;
}

.navbar.nav-expanded {
    background-color: rgb(0, 0, 0)!important;
}

/*//////////////////////////////////////////////////////
Diaporam of Panorama
/////////////////////////////////////////////////////*/

#panorama_slider {
    position: relative;
    padding: 0;
    height: 95vh;
}

#panorama_slider iframe.ku-embed {
    height: 100%;
    width: 100%;
}

.hero-text {
    width: 75%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1%;
    border-radius: 20px;
}

/*//////////////////////////////////////////////////////
Bullet point
/////////////////////////////////////////////////////*/
#bulletPoints {
    background-color: black;
}

#bulletPoints div.row div div.card {
    border-color: #f24a00;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    border-radius: 1rem;
}

#bulletPoints div.row div div.card img {
    width: 5rem;
    margin: 1rem auto;
}

#bulletPoints div.row div div.card .card-body {
    /* background-color: rgba(0, 0, 0, 0); */
    text-align: center;
}

/*//////////////////////////////////////////////////////
How it works / What I get
/////////////////////////////////////////////////////*/
#howitworks {
    display: flex;
    flex-direction: column;
}

#howitworks h2 {
    margin: 0 0 1rem 2.3rem;
}

#howitworks div.row.special{
    margin-bottom: 4rem;
}

/* Animated Overlay */
.overlayable {
    width: 20vw;
    height: 20vw;
    position: relative;
    padding-left: 0!important;
    padding-right: 0;
    /* border: 1px solid red; */
    border-radius: 1rem;
}

.overlayable img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.overlayable .subtitle {
    position: absolute;
    bottom: 0;

    background-color: #f24900ce;
    border-radius: 0 0 1rem 1rem;
    margin: 0;
    
    width: 100%;
    height: 10%;
    text-align: center;

    transition: bottom .5s ease-in-out 0s;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 0 0 1rem 1rem;
    
    width: 100%;
    height: 0;
    text-align: center;

    transition: height .5s ease-in-out;
}

.overlay .text {
    margin: 7rem 1rem auto 1rem;
}

.overlayable:hover .subtitle {
    bottom: 90%;
    border-radius: 1rem 1rem 0 0;
}

.overlayable:hover .overlay {
    height: 90%;
}

/*//////////////////////////////////////////////////////
Our offer
/////////////////////////////////////////////////////*/

#offers {
    height: 100vh;

    background-image: url('img/offers_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*//////////////////////////////////////////////////////
Our work
/////////////////////////////////////////////////////*/
#works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    padding: 3rem 0;
    overflow: hidden;
}

#works h2 {
    /* align-self: flex-start; */
    /* margin: 0 0 1rem 5.7rem;  */
    margin-bottom: 2rem;
}

#works div.carousel {
    height: 90vh;
    width: 90vw;
}

#works div.carousel-inner {
    width: 100%;
    height: 100%;
}

/* Carousel controls */

.carousel-control-prev, .carousel-control-next {
    width: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 2;
}

/* Carousel Grid */
#works div.carousel-grid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
}

#works div.carousel-grid div.grid-element {
    height: 100%;
    width: 25%;

    border-right: 1px solid white;
}

#works div.carousel-grid div.grid-element:last-child {
    border-right: none;
}

.carousel-grid .grid-element .img-caption{
    position: absolute;
    bottom: 0;

    height: 15%;
    width: 25%;
}

.caption-container {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 30%;
}

.carousel-grid .grid-element .img-caption:hover {
    cursor: pointer;
    color: #f24a00;
    background-color: rgba(0, 0, 0, 0.4) ;
}

.caption-container a {
    color: white;
}

.caption-container a:hover{
    cursor: pointer;
    color: #f24a00;
}

/* Selected img-caption */
.img-caption.selected, .carousel-grid .grid-element .img-caption.selected:hover {
    background-color: #0d0d0dcc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23afafaf' fill-opacity='0.02'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*//////////////////////////////////////////////////////
Our clients
/////////////////////////////////////////////////////*/

#clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timeline {
    width: 100%;
    height: 100%;
    position: relative;
}

#timeline .line {
    width: 4px;
    height: 100%;
    background-color: white;
}

.entries {
    max-width: 80%;
    height: 100%;
    margin: auto;
}

.entries .entry .title {
    font-size: 32px;
    margin-bottom: 12px;
    position: relative;
    color: #fff;
}

.entries .entry .title::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    background-color: #1d1d1d;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: -110px;
    z-index: 1000;
}

.entries .entry:nth-child(2n) .title::before {
    left: -110px;
}

.entry {
    width: calc(50% - 80px);
    float: left;
    padding: 20px;
    clear: both;
    text-align: right;
}

.entries .entry:not(:first-child) {
    margin-top: -60px;
}

.entries .entry:nth-child(2n) {
    text-align: left;
    float: right;
}

.entries .entry .body p {
    padding-top: 1rem;
    /* line-height: 1.4em; */
    border-top: 0px solid white;
    text-align: justify;
}

/*//////////////////////////////////////////////////////
Our history
/////////////////////////////////////////////////////*/

.counter-block__card {
    padding: 55px 52px;
    background-image: url("img/dot-dark.jpg");
    border-top: 5px solid #f24a00;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.counter-block__card-title {
    color: #999;
    font-size: 30px;
    font-family: 'Teko', Helvetica, sans-serif;
    line-height: 1;
    margin-bottom: 96px;
}
  
.counter-block__card-value {
    color: #f24a00;
    font-size: 250px;
    line-height: 1;
    font-family: 'Teko', Helvetica, sans-serif;
    margin-left: -7px;
    margin-bottom: -25px;
}
  
.counter-block__card-description {
    color: #f24a00;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 600;
}
  
.counter-block__title {
    margin-bottom: 66px;
}
  
.counter-block__item {
    margin-bottom: 46px;
}
  
.counter-block__item-value {
    font-family: 'Teko', Helvetica, sans-serif;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 11px;
}
  
.counter-block__item-text {
    color: #666;
    font-size: 16px;
}

/*//////////////////////////////////////////////////////
Testimony
/////////////////////////////////////////////////////*/
 
#testimony {
    height: 85vh;
    position: relative;
}
.slider-wrap {
    height: 100%;
    width: 50%;

    margin: auto;
    position: relative;
}

.slider-wrap .slider {
    position: absolute;
    width: 100%;
    left: 50px;
    top: 50px;
}

.slider-item {
    width: 80%;
    padding: 20px 0 25px 30px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    opacity: 0;
    z-index: 0;
    box-shadow: 0 4px 9px #f1f1f4;
    position: absolute;
    left: 0;
    top: 0;
}

.slider-item .animation-card_image {
    max-width: 60px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 9px rgba(241, 241, 244, 0.72);
    background-color: #ffffff;
}
    
.slider-item .animation-card_image img {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    object-fit: cover;
}

.slider-item .animation-card_content {
    width: 100%;
    max-width: 374px;
    margin-left: 26px;
    font-family: "Open Sans",sans-serif;
}

.animation-card_content_title {
    color: #4a4545;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.18px;
    line-height: 24px;
    margin: 0;
}

.animation-card_content_description {
    color: #696d74;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 24px;
    margin: 10px 0 0 0;
}

.animation-card_content_city {
    font-size: 11px;
    margin: 10px 0 0 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #696d74;
}

/*//////////////////////////////////////////////////////
Our provider
/////////////////////////////////////////////////////*/

#providers {
    height: 90vh;
    background-image: url('img/offers_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*//////////////////////////////////////////////////////
Blog
/////////////////////////////////////////////////////*/



/*/////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
Tablet 
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
/////////////////////////////////////////////////////*/
@media screen and (max-width:1200px) {
    /* Panorama slider */
    #panorama_slider {
        height: 85vh;
    }
    
    .container-fluid {
        width: 100%;
    }

    /* Bullet points */
    .card-body h3{
        font-size: 1.5rem;
    }

    .card-body .card-text {
        font-size: 1rem;
    }
}

/*/////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
Phone 
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
/////////////////////////////////////////////////////*/
@media screen and (max-width: 768px) {
    /* Bullet points */
    #bulletPoints {
        margin: auto 0;
    }

    #bulletPoints .row {
        margin: 0;
    }

    #bulletPoints .row div {
        width: 95%;
        margin: 1rem 0;
    }

    #bulletPoints .row div .card {
        margin: auto;
    }

    /* What I get / How it works */
  
    #howitworks h2 {
        margin: auto;
    }

    #howitworks .row {
        margin: 0;
        width: 100%;
    }
    
    .overlayable {
        width: 90vw;
        height: 90vw;
        margin: 1rem 0;
    }

    .overlayable h3 {
        line-height: 1.5;
    }

    /* Our work */
    #works .carousel-grid {
        display: none!important;
    }

    #works {
        padding: 1rem 0;
    }
    
    #works h2 {
        margin-bottom: 1rem;
    }
    
    #works div.carousel {
        height: 45vw;
        width: 90vw;
    }

    /* Our clients */
    #clients {
        padding-bottom: 0;
    }

    #clients h2 {
        text-align: center;
    }
    
    #clients #timeline .line, .title::before {
        display: none;
    }

    #timeline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #timeline .entries {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    #timeline .entries .entry {
        padding: 1rem 0;
        margin: auto;
        float: none;
        width: 90%;
    }

    .entry .title {
        text-align: center;
    }

    /* Testimony */
    #testimony {
        height: 36rem;
    }
    .slider-wrap {
        width: 100%;
    }

    .slider-wrap .slider {
        left: 1rem;
        top: 1rem;
    }

    .slider-item {
        width: 70%;
    }
}